.app_green_theme {
    --bg-color: #f5faf5;
    --inverted-bg-color: #33d317;
    --primary-color: #33d317;
    --secondary-color: #049604;
    --inverted-primary-color: #f5faf5;
    --inverted-secondary-color: #76c516;
}
